# Build outputs
build/
Debug/
Release/
*.elf
*.bin
*.hex
*.map
*.lst

# Object and dependency files
*.o
*.d
*.a

# VS Code
.vscode/

# STM32CubeIDE / CubeMX
.settings/
.project
.cproject
*.launch
*.ioc.bak

# OS junk
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# Eclipse and STM32CubeIDE workspace metadata
.metadata/